@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');
body {
    font-family: "Alegreya SC", serif;
    margin: 0;
    padding: 0;
    background-color: #cdc89d;; /* Цвет фона */
}

header {
    background-color: #B29A7B;
    padding: 20px;
    position: relative; 
}

.header-content {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.logo {
    text-align: center; 
}

.contact-info {
    position: absolute; 
    right: 20px; 
    top: 20px; 
    text-align: right; 
}

.logo h1 {
    color: #ffffff;
    font-size: 48px; 
}

.logo p {
    color: #ffffff;
}


.grid-container {
    display: grid; /* Используем grid layout */
    grid-template-columns: 1fr 1fr; /* Две колонки равной ширины */
    gap: 20px; /* Отступ между колонками */
    padding: 20px; /* Внутренние отступы контейнера */
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрируем контейнер на странице */
}

.image-container {
    display: flex; /* Используем flexbox для центрирования изображения */
    justify-content: center; /* Центрируем изображение по горизонтали */
    align-items: center; /* Центрируем изображение по вертикали */
}

.text-container {
    background-color: white; /* Цвет фона текстового блока */
    padding: 20px; /* Внутренние отступы */
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для блока */
}


footer {
    padding: 10px 20px; 
    background-color: #B29A7B;
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    width: 100%; 
}

.footer-logo {
    margin: 0; 
}

.footer-address {
    margin: 0; 
}
