@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');
body {
    background-color: #EDE9E1;
    margin: 0;
    font-family: "Alegreya SC", serif;
}
a{
    text-decoration: none;
    color: #000;
}
header {
    background-color: #B29A7B;
    padding: 20px;
    position: relative; 
}

.header-content {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.logo {
    text-align: center; 
}

.contact-info {
    position: absolute; 
    right: 20px; 
    top: 20px; 
    text-align: right; 
}

.logo h1 {
    color: #000000;
    font-size: 7vh;
    text-decoration: underline;
    margin: auto;
    text-underline-offset: 1.5vh;
    font-weight:300;
    text-decoration-thickness: 0.4vh;
}

.logo p {
    color: #000000;
    font-size:24px;
    text-decoration: underline;
    margin: 1vh;
    text-underline-offset: 0.4vh;
}
.contact-info p {
    color: #ffffff;
    margin: -1vh;
    text-decoration: underline;
    text-decoration-color: rgb(233, 226, 214);
    font-size: 2.5vh;
    text-underline-offset: 0.5vh;
}
span{
    color: #000000;
}

.decor {
    position: absolute;
    z-index: 10; /* Чтобы картинки были поверх каталога */
    height: auto;
}

.sun {
    top: 80vh;
}

.stars {
    top: 22vh;
    right: 50vh;
}

main {
    padding: 20px; 
}

.breadcrumb {
    font-size: 14px; 
    color: #555; 
}

.catalog-title {
    font-size: 24px; 
    margin-bottom: 20px; 
}

/* Стили для каталога */
.catalog {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin: 20px; 
}

.catalog-item {
    text-align: center; 
}

.catalog-image {
    max-width: 49vh; 
    height: auto; 
    border-radius: 3vh;
}

footer {
    margin: 0 auto;
    width: 65%;
    background-color: #B29A7B;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 2vh;
    margin-top:auto;
}

.footer-logo {
    font-size: 4vh;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-bottom: 5px;
}

.footer-copyright {
    font-size: 1.8vh;
}
.footer-left{
    margin: 0;
    align-items: center;
}

.footer-contact {
    text-align: right;
    font-size: 1.8vh;
    color: #ffffff;
    line-height: 1.5;
    margin: -1vh;
    text-decoration: underline;
    text-decoration-color: rgb(233, 226, 214);
    text-underline-offset: 0.5vh;
}


.footer-contact span {
    font-weight: bold;
    color: black;
}

.footer-contact hr {
    border: none;
    border-top: 1px solid #eee7de;
    margin: 5px 0;
    width: 100%;
}
.footer-wrapper {
    position: relative;
}

.footer-flower {
    position: absolute;
    right: 10vh;
    bottom: 0;
    width: 15vh; /* Можно увеличить/уменьшить при необходимости */
    transform: translate(30%, 0%); /* Точная подгонка к футеру */
    z-index: 2;
}